.carousel-wrapper {
  position: relative;
  width: auto;
  max-width: 300px;
}

.carousel {
  overflow: hidden;
  width: 250px;
  border-radius: 1rem;
  background-color: #FFD912;
}

.carousel ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.carousel li {
  width: 100%;
  flex-shrink: 0;
}

.carousel img {
  height: auto;
  display: block;
}
