CssCarousel.css
.carousel-wrapper {
  position: relative;
  width: auto;
  max-width: 300px;
  
}

input[type="radio"] {
  display: none;
}

.carousel {
  overflow: hidden;
  width:250px;
 
  border-radius: 1rem;
  background-color: #FFD912;
}

.carousel ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: transform 0.5s ease-in-out;
}

.carousel li {
  width: 100%;
  flex-shrink: 0;
}

.carousel img {
 
  height: auto;
  display: block;
}

/* Slide control */
input#slide1:checked ~ .carousel ul {
  transform: translateX(0%);
}
input#slide2:checked ~ .carousel ul {
  transform: translateX(-100%);
}
input#slide3:checked ~ .carousel ul {
  transform: translateX(-200%);
}
input#slide4:checked ~ .carousel ul {
  transform: translateX(-300%);
}
input#slide5:checked ~ .carousel ul {
  transform: translateX(-400%);
}
